
apiVersion: v1                              
kind: Service                                  
metadata:                                         
  name: {{ .Name }}
  labels:                                                   
    app: {{ .Name }}
    service: {{ .Name }}
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    app: {{ .Name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Name }}
  template:
    metadata:
      labels:
        app: {{ .Name }}
    spec:
      containers:
      - image: {{ .Image }}
        imagePullPolicy: Always
        name: {{ .Name }}
        ports:
        - containerPort: 8080
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
---
